<div class="grid">
    <div class="container">
        <div class="cargo click" routerLink="/recruite" routerLinkActive="active">
            <div class="label-s"><h3>履歴書作成</h3></div>
        </div>
        <div class="cargo click" routerLink="/tacksheet" routerLinkActive="active">
            <div class="label-s"><h3>タックシール印刷</h3></div>
        </div>
        <div class="cargo click" routerLink="/postcard" routerLinkActive="active">
            <div class="label-s"><h3>はがき宛名印刷</h3></div>
        </div>
        <div class="cargo click" routerLink="/layout" routerLinkActive="active">
            <div class="label-s"><h3>レイアウト</h3></div>
        </div>
        <div class="cargo click" routerLink="/business" routerLinkActive="active">
            <div class="label-s"><h3>名刺</h3></div>
        </div>
        <div class="cargo click" routerLink="/print" routerLinkActive="active">
            <div class="label-s"><h3>印刷</h3></div>
        </div>
    </div>
</div>
    