<div class="load-screen" *ngIf="chkFlag('onLoad')">
    <div>読み込み中</div>
</div>

<ng-container *ngIf="chkFlag('onSelectPhoto')">
    <div class="print-caption">顔写真を取り込みますか？</div>
    <div class="select-box">
        <div class="print-cargo click" (click)="setPicutureType(1)">
            <div class="label-s"><h3>取り込む</h3></div>
        </div>
        <div class="print-cargo click" (click)="setPicutureType(0)">
            <div class="label-s"><h3>取り込まない</h3></div>
        </div>
        <div class="print-cargo click" routerLink="/" routerLinkActive="active">
            <div class="label-s"><h3>MAIN</h3></div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="chkFlag('onFileLoad')">
<ng-container *ngIf="chkFlag('onPicuture')">
<form action=""
    method="post"
    enctype="multipart/form-data">
    <div 
        [class.drag-over]="chkFlag('onDrag')"
        class="drag-drop-area"
        (dragover)="onDragOverHandler($event)" 
        (dragleave)="onDragLeaveHandler($event)"
        (drop)="onSelectHandler($event,'drag')" >
        <div class="drag-drop-inside">
            <p>ここに画像をドロップ</p>
            <p>または</p>
            <input name="images[]" (change)="onSelectHandler($event, 'select')" type="file" value="ファイルを選択" accept="image/*" multiple >
        </div>
    </div>
</form>
</ng-container>
<ng-container *ngIf="chkFlag('onReview')">
<div class="faceShot">
    <canvas id="face-shot"></canvas>
</div>
<div class="select-box-right">
    <ng-container *ngIf="chkFlag('onFaceCat')">
    <div class="print-cargo_s click" (click)="catImage()">
        <div class="label-s">切り取り</div>
    </div>
    </ng-container>
    <ng-container *ngIf="chkFlag('onFaceCat')">
    <div class="print-cargo_s click" (click)="setReview()">
        <div class="label-s">最終確認</div>
    </div>
    </ng-container>
    <div class="print-cargo_s click" (click)="moveWindow('picture')">
        <div class="label-s">戻る</div>
    </div>
</div>
</ng-container>
</ng-container>

<ng-container *ngIf="chkFlag('onDownload')">
    <div class="print-caption">PDFをダウンロード</div>
    <div class="select-box-right">
        <div class="print-cargo_s click" (click)="setupLayoutType(0)">
            <div class="label-s">JIS規格</div>
        </div>
        <div class="print-cargo_s click" (click)="setupLayoutType(1)">
            <div class="label-s">タイプ１</div>
        </div>
        <div class="print-cargo_s click" (click)="setupLayoutType(2)">
            <div class="label-s">タイプ２</div>
        </div>
        <div class="print-cargo_s click" (click)="setupLayoutType(3)">
            <div class="label-s">タイプ３</div>
        </div>
        <div class="print-cargo_s click" (click)="setupLayoutType(4)">
            <div class="label-s">タイプ４</div>
        </div>
        <div class="print-cargo_s click" (click)="setDownload()">
            <div class="label-s">ダウンロード</div>
        </div>
        <div class="print-cargo_s click" (click)="moveWindow('picture')">
            <div class="label-s">初めに戻る</div>
        </div>
    </div>
    <div class="preview">
        <div class="">
            <img width="250px"
                [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(pageLayout[0])">
        </div>
        <div>
            <img width="250px"
                [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(pageLayout[1])">
        </div>
    </div>
</ng-container>
