<div class="load-screen" *ngIf="checkFlags('onLoad')">
        <div>読み込み中</div>
    </div>
    <!-- ---------------------------------------
        タックシールのタイプ簡易設定
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onType')">
    <div class="print-caption">シートタイプを選択</div>
    <div class="select-box">
        <div class="print-cargo click" (click)="setSheetType(12)">
            <div class="label-s"><h3>12面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(24)">
            <div class="label-s"><h3>24面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(10)">
            <div class="label-s"><h3>10面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(0)">
            <div class="label-s"><h3>カスタム</h3></div>
        </div>
    </div>
    <div class="select-box">
        <div class="cargo-s click" routerLink="/" routerLinkActive="active">
            <div class="label-s"><h3>MAIN</h3></div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        タックシールレイアウトの確認・設定
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onSheetSpec')">
    <div class="print-caption">シートサイズ設定・確認</div>
    <div class="select-box">
        <div class="box-flex">
            <ul class="spec-list">
                <li>
                    <div class="sort-left">余白(上)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['pageMarginTop']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">余白(左)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['pageMarginLeft']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾗﾍﾞﾙ(幅)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelWidth']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾗﾍﾞﾙ(高)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelHeight']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾏｰｼﾞﾝ(上下)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelMarginTop']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾏｰｼﾞﾝ(左右)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelMarginLeft']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-flex">
            <div class="print-caption">盤面数：{{cellCounter.length}}</div>
            <div class="sheet-review">
             <ng-container *ngFor="let cell of cellCounter">
                <div class="ghost-cell"
                    [style.width.px]="sheetStatus.LabelWidth"
                    [style.height.px]="sheetStatus.LabelHeight"
                    [style.margin-left.px]="sheetStatus.LabelMarginLeft"
                    [style.margin-bottom.px]="sheetStatus.LabelMarginTop">
                </div>
            </ng-container>
            </div>
        </div>
        <div class="select-box">
            <div class="print-cargo click" (click)="setSheetSpec()">
                <div class="label-s"><h3>決定</h3></div>
            </div>
            <div class="print-cargo click" (click)="moveWindow('type')">
                <div class="label-s"><h3>戻る</h3></div>
            </div>
        </div>
    </div>
    </ng-container>

    <!-- ---------------------------------------
        タックシールのデザイン設定
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onSheetDesine')">
    <div class="select-box">
        <div class="print-cargo_high click" (click)="setSheetDesine('line1')">
            <div class="label-s">1行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line2')">
            <div class="label-s">２行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line3')">
            <div class="label-s">３行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('address3')">
            <div class="label-s">３行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('address4')">
            <div class="label-s">４行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('address5')">
            <div class="label-s">５行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('spec')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        印刷開始位置
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onPrintPosition')">
    <div class="select-box">
        <div class="box-flex-single">
            <div class="print-caption">印刷開始位置</div>
            <div class="print-caption">
                印刷数：<input type="number" [(ngModel)]="printCellCount">
            </div>
        </div>
        <div class="box-flex-single">
            <div class="sheet-review order-center">
            <ng-container *ngFor="let cell of cellCounter; index as i">
                <div class="ghost-cell click"
                    (click)="setPrintStartIndex(i)"
                    [class.selected]='i === printStartPosition'
                    [style.width.px]="sheetStatus.LabelWidth"
                    [style.height.px]="sheetStatus.LabelHeight"
                    [style.margin-left.px]="sheetStatus.LabelMarginLeft"
                    [style.margin-bottom.px]="sheetStatus.LabelMarginTop">
                </div>
            </ng-container>
            </div>
        </div>
        <div class="select-box">
            <div class="print-cargo click" (click)="setPrintPosition()">
                <div class="label-s"><h3>決定</h3></div>
            </div>
            <div class="print-cargo click" (click)="moveWindow('desine')">
                <div class="label-s"><h3>戻る</h3></div>
            </div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        CSVを読み込むか読み込まないか
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onLoadCSV')">
    <div class="print-caption">csvを取り込みますか？</div>

    <div class="select-box">
        <div class="print-cargo click" (click)="setLoadCSV(1)">
            <div class="label-s"><h3>取り込む</h3></div>
        </div>
        <div class="print-cargo click" (click)="setLoadCSV(0)">
            <div class="label-s"><h3>取り込まない</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('position')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container> 
    <!-- ---------------------------------------
        CSVファイルの読込
    --------------------------------------- -->   
    <ng-container *ngIf="checkFlags('onIncludeCSV')">
    <ng-container *ngIf="checkFlags('onDragCSVFile')">
        <div class="print-caption">csv読込</div>
    </ng-container>
    <ng-container *ngIf="checkFlags('onPreviewCSVFile')">
        <div class="print-caption">内容確認</div>
    </ng-container>
    <div class="select-box">
    <ng-container *ngIf="checkFlags('onDragCSVFile')">
        <form action=""
            method="post"
            enctype="multipart/form-data">
            <div 
                [class.drag-over]="checkFlags('onDrag')"
                class="drag-drop-area"
                (dragover)="onDragOverHandler($event)" 
                (dragleave)="onDragLeaveHandler($event)"
                (drop)="onDropHandler($event, 'drag')" >
                <div class="drag-drop-inside">
                    <p>ここにCSVをドロップ</p>
                    <p>または</p>
                    <input name="csv" (change)="onDropHandler($event, 'select')" type="file" value="ファイルを選択" >
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="checkFlags('onPreviewCSVFile')">
        <ul class="preview-csv-calam">
            <li *ngFor="let csv of readCSVFile">
                <div>■１:{{csv[0]}}</div>
                <div>■２:{{csv[1]}}</div>
                <div>■３:{{csv[2]}}</div>
            </li>
        </ul>
    </ng-container>
    </div>
    <ng-container *ngIf="checkFlags('onDragCSVFile')">
    <div class="select-box">
        <div class="print-cargo_s click"
            [class.selected]="readCSVEncode['utf']"
            (click)="setupEncode('utf')">
            <div class="label-s">utf-8</div>
        </div>
        <div class="print-cargo_s click"
            [class.selected]="readCSVEncode['sjis']"
            (click)="setupEncode('sjis')">
            <div class="label-s">sjis</div>
        </div>
    </div>
    </ng-container>
    <div class="select-box-bottom">
        <ng-container *ngIf="checkFlags('onPreviewCSVFile')">
        <div class="print-cargo click" (click)="switchLoadtoPreview()">
            <div class="label-s"><h3>再読込</h3></div>
        </div>
        <div class="print-cargo click" (click)="setIncludeCSV()">
            <div class="label-s"><h3>決定</h3></div>
        </div>
        </ng-container>
        <div class="print-cargo click" (click)="moveWindow('loadcsv')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        表示内容の入力
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onInputContents')">
    <div class="print-caption">内容入力</div>
    <div class="select-box input-form">
        <ng-container *ngIf="inputForm.line1">
        <div>項目１：<input type="text" [(ngModel)]="formStatus.line1"></div></ng-container>
        <ng-container *ngIf="inputForm.line2">
        <div>項目２：<input type="text" [(ngModel)]="formStatus.line2"></div></ng-container>
        <ng-container *ngIf="inputForm.line3">
        <div>項目３：<input type="text" [(ngModel)]="formStatus.line3"></div></ng-container>
        <ng-container *ngIf="inputForm.line4">
        <div>項目４：<input type="text" [(ngModel)]="formStatus.line4"></div></ng-container>
        <ng-container *ngIf="inputForm.line5">
        <div>項目５：<input type="text" [(ngModel)]="formStatus.line5"></div></ng-container>
        <ng-container *ngIf="inputForm.postcode">
        <div>郵便番号(ﾊｲﾌﾝ(-)無し)：<input type="number" [(ngModel)]="formStatus.postcode"></div></ng-container>
        <ng-container *ngIf="inputForm.address">
        <div>住所：<input type="text" [(ngModel)]="formStatus.address"></div></ng-container>
        <ng-container *ngIf="inputForm.building">
        <div>建物：<input type="text" [(ngModel)]="formStatus.building"></div></ng-container>
        <ng-container *ngIf="inputForm.company">
        <div>会社：<input type="text" [(ngModel)]="formStatus.company"></div></ng-container>
        <ng-container *ngIf="inputForm.name">
        <div>名前：<input type="text" [(ngModel)]="formStatus.name"></div></ng-container>
    </div>
    <div class="select-box">
        <div class="print-cargo click" (click)="setInputContents()">
            <div class="label-s"><h3>決定</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('loadcsv')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        プレビュー　最終確認
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onReviewCSV')">
    <div class="print-caption">内容確認※下記はイメージです</div>
    <div class="select-box">
        <div class="box-flex-sngle order-center">
            <div class="sheet-review">
            <img [attr.src]="sheetPreviewImage" width=210 height=297>
            </div>
        </div>
    </div>
    <div class="select-box-bottom">
        <div class="print-cargo click" (click)="setReviewSheet()">
            <div class="label-s"><h3>決定</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('desine')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <!-- ---------------------------------------
        PDFのダウンロード
    --------------------------------------- -->
    <ng-container *ngIf="checkFlags('onDownload')">
        <div class="print-caption">PDFをダウンロードします</div>
        <div class="select-box">
            <div class="print-cargo click" (click)="buildPdf()">
                <div class="label-s"><h3>ダウンロード</h3></div>
            </div>
            <div class="print-cargo click" (click)="moveWindow('type')">
                <div class="label-s"><h3>初めに戻る</h3></div>
            </div>
        </div>
    </ng-container>
    